---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0; /* Add some spacing */
}

.hero-image img {
    display: block;
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}
.hl{
	color: var(--accent);
}
</style>
	</head>
	<body>
	<div class="wrapper">
		<Header />
		<main>
		
		<div class="hero-image">
    <img src="763a681be21a2f18a45b1d0fcabc1650.jpg" alt="Background Image" />
</div>
			<h1>Greetings !</h1>
			<p>
			I'am Guhanesh. <span class="hl">Student</span>, <span class="hl">Developer</span> and a professional <span class="hl">Geek</span>
			</p>
		</main>

		<Footer />
		</div>
	</body>
</html>
